<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RedevStore</title>
	</head>
	<body>
		<section class="prompt">
			<h1>Customer</h1>
				<form action="/api/payment/create-card" method="post">
				<section>
					<label for="customerId">customerId</label>
					<input id="customerId" name="customerId" type="text" autocomplete="name" required autofocus>
				</section>
				<section>s
					<label for="cardNumber">email</label>
					<input id="cardNumber" name="cardNumber" type="text" autocomplete="cardNumber" required autofocus>
				</section>
				<section>
					<label for="cardExpYear">cardExpYear</label>
					<input id="cardExpYear" name="cardExpYear" type="text" autocomplete="cardExpYear" required autofocus>
				</section>
				<section>
					<label for="cardExpMonth">cardExpMonth</label>
					<input id="cardExpMonth" name="cardExpMonth" type="text" autocomplete="cardNumber" required autofocus>
				</section>
				<section>
					<label for="cardName">cardName</label>
					<input id="cardName" name="cardName" type="text" autocomplete="cardName" required autofocus>
				</section>
                <section>
					<label for="cardCVC">cardCVC</label>
					<input id="cardCVC" name="cardCVC" type="text" autocomplete="cardCVC" required autofocus>
				</section>
				<button type="submit">add</button>
			</form>
		</section>
	</body>
</html>